---
title: Editor
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <link rel="stylesheet" href="/bundle/bundle.css" />
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
  <title>{{ title }}</title>
</head>

<body class="text-gray-900 bg-gray-100">
  <main class="flex p-2">
    <article class="prose lg:prose-xl w-full">
      <h1 class="text-left">{{ title }}</h1>
      <h2>{{ page.date | toUTCString }}</h2>
      {{ content | safe }}
    </article>
  </main>
</body>

</html>
