<footer class="p-2 border-t shadow-lg">
  <nav class="flex w-full h-full justify-evenly">
    <ul class="flex flex-col text-xl">
      <li class="pr-2 hover:text-gray-400 cursor-pointer">
        <a href="/">Home</a>
      </li>
      <li class="pr-2 hover:text-gray-400 cursor-pointer">
        <a href="/about">About</a>
      </li>
    </ul>
    <ul class="flex flex-col text-xl">
      <li class="pr-2 hover:text-gray-400 cursor-pointer">
        <a href="/contact">Contact</a>
      </li>
      <li class="pr-2 hover:text-gray-400 cursor-pointer">
        <a href="https://blog.coderscoffeehouse.com" target="_blank" rel="noreferrer">Blog</a>
      </li>
    </ul>
    <ul class="flex flex-col text-xl">
      <li>
        <a href="https://github.com/matthewblott" target="_blank" rel="noreferrer" class="flex flex-row hover:text-gray-400 cursor-pointer">
          <svg class="fill-current h-6" viewBox="0 0 448 512">
            <use href="/assets/img/github.svg#x" />
          </svg><span class="ml-1">Github</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/MatthewBlott" target="_blank" rel="noreferrer" class="flex flex-row hover:text-gray-400 cursor-pointer">
          <svg class="fill-current h-6" viewBox="0 0 448 512">
            <use href="/assets/img/twitter.svg#x" />
          </svg><span class="ml-1">Twitter</span>
        </a>
      </li>
    </ul>
  </nav>
</footer>