<header class="flex place-content-between shadow-xl border-b">
  <div class="flex p-2">
    <a href="/" class="flex hover:text-gray-400 cursor-pointer">
      <span class="text-2xl font-semibold pl-1 pr-1" title="Coder's Coffee House">
        CCH
      </span>
      <svg class="fill-current h-8 py-1" viewBox="-10 0 660 512">
        <use href="/assets/img/coffee.svg#x" />
      </svg>
    </a>
  </div>
  <nav class="flex w-full h-full place-items-center justify-center ">
    <ul class="flex text-xl">
      <li class="pr-2 hover:text-gray-400 cursor-pointer">
        <a href="/">Home</a>
      </li>
      <li class="pr-2 ">|</li>
      <li class="pr-2 hover:text-gray-400 cursor-pointer">
        <a href="/about">About</a>
      </li>
      <li class="pr-2 ">|</li>
      <li class="pr-2 hover:text-gray-400 cursor-pointer">
        <a href="/other-stuff">Other Stuff</a>
      </li>
    </ul>
  </nav>

  <div>
   <form action="/search" class="flex mt-1 mr-1">
    <label aria-label="Search">
      <input type="text" name="q" class="focus:ring-0 border-gray-300 focus:border-gray-300 w-full border rounded-md mb-2 px-2 
      focus:outline-none placeholder-gray-300 focus:bg-yellow-50 caret-gray-300" placeholder="Search" required>
    </label>

    <button aria-label="Search" class="border border-gray-300 rounded-md px-4 text-green-600 hover:text-green-500 ml-1 h-11">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="fill-current h-5">
        <use href="/assets/img/search.svg#x" />
      </svg>
    </button>
  </form>

</div>


</header>