---
layout: default
title: ''
pagination: 
  enabled: true
  category: tech
---

<ul>
  {% for post in paginator.posts %}
  <li>
    <h2>
      <a href="{{ post.url }}">{{ post.title }}</a></h2>
    {{ post.excerpt }}
  </li>
  {% endfor %}
</ul>

{% assign path_base = paginator.first_page_path | replace: "index.html", "" %}

{% if paginator.total_pages > 1 %}

    <ul class="pager">
      <li>
        Pages
      </li>
      <li>
        <a href="{{ path_base }}">1</a>
      </li>

      {% for page in (2..paginator.total_pages) %}
        {% 
          assign path_my = site.paginate_path 
          | replace: ":num", page 
          | replace: "/page", "page/" 
          | prepend: path_base 
        %}

        <li>
          <a href="{{ path_my }}">{{ page }}</a>
        </li>

      {% endfor %}

    </ul>

{% endif %}
