<div class="container-fluid bg-inverse">
  <div class="row padding-xl center-block">
    <div class="col-sm-3 navbar-dark">
      <h2>About Us</h2>
      <ul class="navbar-nav">
        <li><a href="/pricing" class="nav-link">Pricing</a></li>
        <li><a href="/gallery" class="nav-link">Gallery</a></li>
        <li><a href="/contact" class="nav-link">Contact</a></li>
        <li><a href="/about" class="nav-link">About</a></li>
      </ul>
    </div>
    <div class="col-sm-3 navbar-dark">
      <h2>Support</h2>
      <ul class="navbar-nav">
        <li><a href="/faq" class="nav-link">FAQ</a></li>
        <li><a href="/terms" class="nav-link">Terms and Conditions</a></li>
      </ul>
    </div>
    <div class="col-sm-3 navbar-dark">
      <h2>Social Media</h2>
      <ul class="navbar-nav">
        <li>
          <a href="https://www.facebook.com/matthew.blott" target="_blank" class="nav-link"><i class="fa fa-facebook-square"></i> Facebook</a>
        </li>
        <li>
          <a href="https://twitter.com/MatthewBlott" target="_blank" class="nav-link"><i class="fa fa-twitter-square"></i> Twitter</a>
        </li>
        <li>
          <a href="https://www.youtube.com/" target="_blank" class="nav-link"><i class="fa fa-youtube-square"></i> YouTube</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>