<nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <ul class="nav navbar-nav">
            {% for page in site.pages %} {% if page.title != 'Search Results' %}
            <li class="nav-item">
                <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
            {% endif %} {% endfor %}
            <li class="nav-item pull-right">
                <form class="form-inline navbar-form pull-right" action="/search-results/" method="get">
                    <input class="form-control" name="q" placeholder="Search">
                    <button class="btn btn-success-outline" type="submit">Submit</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
