<nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-4 pt-3 pb-3">
  <a class="navbar-brand" href="{{ site.baseurl }}/">
    {{ site.title }}
    <i class="fa fa-coffee fa-lg padding-left-sm"></i>
  </a>
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="exCollapsingNavbar2">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item mx-0">
        <a class="nav-link " href="/about">About <span class="ml-2">|</span></a>
      </li>
      <li class="nav-item mx-0">
        <a class="nav-link" href="/contact">Contact <span class="ml-2">|</span></a>
      </li>
      <li class="nav-item mx-0">
        <a class="nav-link " href="/other-stuff">Other Stuff</a>
      </li>
    </ul>

    <form class="form-inline" action="/search-results/" method="get">
      <input class="form-control mt-1 mb-1 mr-1" name="q" placeholder="search" style="width: 400px;">
      <button class="btn btn-outline-success mt-1 mb-1 mr-1"><i class="fa fa-search"></i></button>
    </form>
    
  </div>
</nav>