.bg {
  background-image: asset_url('site/bg-2-md.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: $max-width-xs) {
  .bg {
    background-image: asset_url('site/bg-2-xs.jpg');
  }
}

@media screen and (min-width: $min-width-sm) and (max-width: $max-width-sm) {
  .bg {
    background-image: asset_url('site/bg-2-sm.jpg');
  }
}

@media screen and (min-width: $min-width-md) and (max-width: $max-width-md) {
  .bg {
    background-image: asset_url('site/bg-2-md.jpg');
  }
}
@media screen and (min-width: $min-width-lg) and (max-width: $max-width-lg) {
  .bg {
    background-image: asset_url('site/bg-2-lg.jpg');
  }
}
@media screen and (min-width: $min-width-xl) {
  .bg {
    background-image: asset_url('site/bg-2-xl.jpg');
  }
}

@media screen and (max-width: 768px) {
  .bg {
    flex-grow: 1;
    // order: -1;
  }
}