@import '_pager';

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--border-secondary);
}

button:hover {
  cursor: pointer;
}

//@extend
textarea {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 5px;
  border-color: var(--border-secondary);
  font-size: 1.2rem;
}

button {
  background-color: var(--bg-primary);
  border: none;
  font-size: 1.2rem;
}

svg {
  width: 20px;
  height: 20px;
  fill:white;
}

input {
  font-size: 1.2rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 5px;
  border-color: var(--border-secondary);
}

.main form {
  display: flex;
  flex-direction: column;
}

.main form div {
  display: flex;
  justify-content: stretch;
  padding-bottom: 5px;
  max-width: 750px;
}

.main > form > div input,
  .main > form > div > textarea {
  display: flex;
  flex-grow: 1;
}


.button {
  background-color: inherit;
  color: var(--text-primary);
  border: solid var(--border-secondary) 1px;
  padding: 5px;
  border-radius: 5px;
  border-color: var(--border-secondary);
}

.button:hover {
  background-color: var(--border-secondary);
  color: var(--text-secondary-selected);
}


a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}
button {
  background-color: var(--bg-primary);
  border: none;
}

svg {
  width: 15px;
  height: 15px;
  fill: var(--text-secondary);
}

input {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 5px;
  border-color: var(--border-secondary);
}