.footer {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  padding: 5px;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
}

.footer-menu {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 968px) {

  .footer-nav {
    display: flex;
    flex-direction: column;
  }

}

.footer a:hover {
  color: var(--text-secondary-selected);
}

.footer svg:hover {
  fill: var(--text-secondary-selected);
}