.header {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__toggler {
  display: none;
}
.header__toggler-button {
  display: none;
}
.header__toggler-button-item {
  display: none;
}
.header-nav {
  display: flex;
}

.header-nav__expander {
  flex-grow: 1;
}

.header-menu {
  display: flex;
  list-style: none;
}

.header-menu__item {
  color: var(--text-secondary);
  fill: var(--text-secondary);
  padding-right: 5px;
  // padding-top: 5px;
  // padding-bottom: 5px;
  display: flex;
}

.header-menu__item::after {
  content: '|'
}

.header-menu__item:last-of-type::after {
  justify-content: center;
  align-content: center;
  content: ''
}

.header-menu__item:hover {
  color: var(--text-secondary-selected);
  fill: var(--text-secondary-selected);
}

.header-menu__item--selected {
  color: var(--text-secondary-selected);
  fill: var(--text-secondary-selected);
}


@media screen and (max-width: 768px) {

  .header__toggler {
    display: none;
  }

  .header-menu__item::after {
    content: ''
  }
  
  .header__toggler:checked~.header-nav>.header-nav__center {
    display: none;
  }

  .header__toggler:checked~.header-nav>.header-nav__right {
    display: none;
  }

  .header__toggler:checked~.header-nav {
    display: flex;
  }

  .header__toggler-button {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    padding: 5px;
  }

  .header__toggler-button-item {
    display: flex;
    height: 2px;
    width: 20px;
    background-color: var(--bg-secondary);
    margin-top: 3px;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
  }

  .header-nav__center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .header-nav__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .header-menu {
    display: flex;
    flex-direction: column;
  }

}

.header svg:hover {
  fill: var(--text-secondary-selected);
}