@import '_header';
@import '_footer';

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, Verdana, Tahoma, sans-serif;
  // background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.main {
  flex-grow: 1;
  flex-direction: column;
}

h1 {
  font-size: 1.8rem;
  margin-left: 5px;
}

h2 {
  font-size: 1.6rem;
  padding-bottom: 5px;
  padding-top: 15px;
}

h3 {
  font-size: 1.4rem;
  padding-bottom: 5px;
  padding-top: 15px;
}