:root {
  // --text-primary: #474747;
  // --text-secondary: #c6c6c6;
  // --bg-primary: #474747;
  // --bg-secondary: #c6c6c6;
  // --border-primary: #474747;
  // --border-secondary: #c6c6c6;
  
  --text-primary: #2C3539; // Gunmetal
  --border-primary: #2C3539;
  --bg-primary: #2C3539;
  --text-secondary: #B6B6B4; // Gray Cloud
  --border-secondary: #B6B6B4;
  
  // --bg-secondary: #B6B6B4;
  --bg-secondary: #ffffff;

  --text-primary-hover: #B6B6B4;
  --text-primary-selected: #B6B6B4;
  --text-secondary-selected: #ffffff; // White

}

$xs: 1px;
$sm: 2px;
$md: 4px;
$lg: 8px;
$xl: 15px;