:root {
  // Gunmetal
  --text-primary: #2C3539;
  --border-primary: #2C3539;
  --bg-primary: #2C3539;

  // Gray Cloud
  --text-secondary: #B6B6B4;
  --border-secondary: #B6B6B4;
  --text-primary-hover: #B6B6B4;
  --text-primary-selected: #B6B6B4;
  
  // White
  --bg-secondary: #ffffff;
  --text-secondary-selected: #ffffff;
}

$min-width-xs: 0;
$max-width-xs: 543px;
$min-width-sm: 544px;
$max-width-sm: 767px;
$min-width-md: 768px;
$max-width-md: 991px;
$min-width-lg: 992px;
$max-width-lg: 1199px;
$min-width-xl: 1200px;
$max-width-xl: 100%;

$xs: 1px;
$sm: 2px;
$md: 4px;
$lg: 8px;
$xl: 15px;