@import '_variables';
@import '_layout';
@import '_controls';
@import '_post';
@import '_disqus';
@import '_syntax-highlighting';

.main {
  margin: 5px;
}

.post > p {
  padding: 10px;
  padding-bottom: 20px;
}

.post__content {
  padding: 10px;
  padding-bottom: 20px;
}

.code, .pre, .nb {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}