@import '_syntax-highlighting';

figure {
  margin: 0;
}

td, .gutter {
  padding: 0;
}

:root {
  --color: black;
}

code {
  background: white;
  color: black;
}

p > code {
  background: #272b30;
  padding: 0;
  color: white;
  font-size: 1em;
}

pre {
  background: var(--color);
  background: white;
}

#disqus_recommendations, #disqus_thread {
  padding: 10px;
}

a {
  color: silver;
}

a:hover {
  color: inherit;
}

form,
input {
  display: inline;
}

input {
  width: auto;
}

// Contact form fix
main input {
  margin-bottom: 10px;
  width: 100%;  
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

h1 {
  margin-top: 40px;
  padding-left: 0.3em;
}

li {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  padding: 0;
}

.brand {
  padding: 0 !important;
}

svg {
  width: 15px;
  height: 15px;
  fill: white;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
  flex-direction: column;
  padding: 0 .6em;
}

footer > nav {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  height: 100%;
}

footer > nav > ul {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 968px) {

  footer > nav {
    display: flex;
    flex-direction: column;
  }

}

.pager li {
  display:inline;
}
