// variables
$xs: 1px;
$sm: 2px;
$md: 4px;
$lg: 8px;
$xl: 15px;

$min-width-xs: 0;
$max-width-xs: 543px;
$min-width-sm: 544px;
$max-width-sm: 767px;
$min-width-md: 768px;
$max-width-md: 991px;
$min-width-lg: 992px;
$max-width-lg: 1199px;
$min-width-xl: 1200px;
$max-width-xl: 100%;

// navbar
.navbar {
  border-radius: 0;
}

// required ?
.navbar-brand {
  float: none;
}

.navbar-nav .nav-item {
  float: none;
}

.navbar-divider,
.navbar-nav .nav-item + .nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}

@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item + .nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
}

@media (max-width: 34em) {
  .spacer {
    display: none;
  }
}

// background
.bg {
  width: 100%;
  background: url(asset_path('site/bg-2-xl.jpg'));
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center; 
}

@media (max-width: $max-width-xs) {
  .bg {
    background-image: url(asset_path('site/bg-2-xs.jpg'));
    min-height: $max-width-xs * 0.4;
  }
}

@media (min-width: $min-width-sm) and (max-width: $max-width-sm) {
  .bg {
    background-image: url(asset_path('site/bg-2-sm.jpg'));
    min-height: $max-width-sm * 0.4;
  }
}

@media (min-width: $min-width-md) and (max-width: $max-width-md) {
  .bg {
    background-image: url(asset_path('site/bg-2-md.jpg'));
    min-height: $max-width-md * 0.4;
  }
}
@media (min-width: $min-width-lg) and (max-width: $max-width-lg) {
  .bg {
    background-image: url(asset_path('site/bg-2-lg.jpg'));
    min-height: $max-width-lg * 0.4;
  }
}
@media (min-width: $min-width-xl) {
  .bg {
    background-image: url(asset_path('site/bg-2-xl.jpg'));
    min-height: $min-width-xl * 0.4;
  }
}

// h2 {
//   font-size: 1.2rem;
// }

.block {
  display: block;
}

.post {
  min-height: 200px;
}

.post-header {
  padding-left: 5px;
  padding-right: 5px;
}

article {
  background: #fff;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  //min-height: 400px;
}

#disqus_thread {
  padding-left: 5px;
  padding-right: 5px;
}

td.code {
  padding: 5px;
}
