/* border */
.border-none {
  border: 0;
}
    
.border {
  border: solid 1px silver;
}

/* margin */
.margin-none {
  margin: 0;
}

.margin-left-none {
  margin-left: 0;
}

.margin-top-xs {
  margin-top: 1px;
}

.margin-top-sm {
  margin-top: 2px;
}

.margin-top-md {
  margin-top: 4px;
}

.margin-top-lg {
  margin-top: 8px;
}

.margin-top-xl {
  margin-top: 15px;
}

.margin-right-xs {
  margin-right: 1px;
}

.margin-right-sm {
  margin-right: 2px;
}

.margin-right-md {
  margin-right: 4px;
}

.margin-right-lg {
  margin-right: 8px;
}

.margin-right-xl {
  margin-right: 15px;
}

/* padding */
.padding-none {
  padding: 0;
}

.padding-xs {
  padding: 1px;
}

.padding-sm {
  padding: 2px;
}

.padding-md {
  padding: 4px;
}

.padding-lg {
  padding: 8px;
}

.padding-xl {
  padding: 15px;
}

.padding-top-xs {
  padding-top: 1px;
}

.padding-top-sm {
  padding-top: 2px;
}

.padding-top-md {
  padding-top: 4px;
}

.padding-top-lg {
  padding-top: 8px;
}

.padding-top-xl {
  padding-top: 15px;
}

.padding-bottom-xs {
  padding-bottom: 1px;
}
.padding-bottom-sm {
  padding-bottom: 2px;
}
.padding-bottom-md {
  padding-bottom: 4px;
}
.padding-bottom-lg {
  padding-bottom: 8px;
}
.padding-bottom-xl {
  padding-bottom: 15px;
}

.padding-left-xs {
  padding-left: 1px;
}

.padding-left-sm {
  padding-left: 2px;
}

.padding-left-md {
  padding-left: 4px;
}

.padding-left-lg {
  padding-left: 8px;
}

.padding-left-xl {
  padding-left: 15px;
}

.padding-right-xs {
  padding-right: 1px;
}

.padding-right-sm {
  padding-right: 2px;
}

.padding-right-md {
  padding-right: 4px;
}

.padding-right-lg {
  padding-right: 8px;
}

.padding-right-xl {
  padding-right: 15px;
}

/* misc */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.block {
  display: inline-block;
}

.center {
  text-align: center;
}

/* card */
.card {
  width: 192px;
  height: 400px;
}

.img-container {
  height: 200px;
  width: 192px;
  line-height: 200px;
}

.img-container img {
  vertical-align: middle;
}

/*
.navbar, .navbar a {
  color: yellow;
  background-color: #CC3333;
  .navbar-border-radius: 0
}
*/

.navbar {
  border-radius: 0;
}

.carousel-item img {
  width: 100%;
}

/* required ? */
.navbar-brand {
  float: none;
}

.navbar-nav .nav-item {
  float: none;
}

.navbar-divider,
.navbar-nav .nav-item + .nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}

@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item + .nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
}

@media (max-width: 34em) {
  .spacer {
    display: none;
  }
}

$min-width-xs: 0;
$max-width-xs: 543px;

$min-width-sm: 544px;
$max-width-sm: 767px;

$min-width-md: 768px;
$max-width-md: 991px;
$min-width-lg: 992px;
$max-width-lg: 1199px;
$min-width-xl: 1200px;
$max-width-xl: 100%;

.bg {
  width: 100%;
}

@media (max-width: $max-width-xs) {
  .bg {
    background-image: url('/images/home/3950-cropped-xs.jpg');
    min-height: $max-width-xs * 0.4;
  }
}

@media (min-width: $min-width-sm) and (max-width: $max-width-sm) {
  .bg {
    background-image: url('/images/home/3950-cropped-sm.jpg');
    min-height: $max-width-sm * 0.4;
  }
}

@media (min-width: $min-width-md) and (max-width: $max-width-md) {
  .bg {
    background-image: url('/images/home/3950-cropped-md.jpg');
    min-height: $max-width-md * 0.4;
  }
}
@media (min-width: $min-width-lg) and (max-width: $max-width-lg) {
  .bg {
    background-image: url('/images/home/3950-cropped-lg.jpg');
    min-height: $max-width-lg * 0.4;
  }
}
@media (min-width: $min-width-xl) {
  .bg {
    background-image: url('/images/home/3950-cropped-xl.jpg');
    min-height: $min-width-xl * 0.4;
  }
}

h2 {
  font-size: 1.2rem;
}

.block {
  display: block;
}

.post {
  min-height: 200px;
}

.margin-top-xs {
  margin-top: 1px;
}

.margin-top-sm {
  margin-top: 2px;
}

.margin-top-md {
  margin-top: 4px;
}

.margin-top-lg {
  margin-top: 8px;
}

.margin-top-xl {
  margin-top: 15px;
}

.post-header {
  padding-left: 5px;
  padding-right: 5px;
}

article {
  background: #fff;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

#disqus_thread {
  padding-left: 5px;
  padding-right: 5px;
}

td.code {
  padding: 5px;
}