// variables
$xs: 1px;
$sm: 2px;
$md: 4px;
$lg: 8px;
$xl: 15px;

$min-width-xs: 0;
$max-width-xs: 543px;
$min-width-sm: 544px;
$max-width-sm: 767px;
$min-width-md: 768px;
$max-width-md: 991px;
$min-width-lg: 992px;
$max-width-lg: 1199px;
$min-width-xl: 1200px;
$max-width-xl: 100%;


// border
.border-none {
  border: 0;
}
    
.border {
  border: solid $xs silver;
}


// margin
.margin-none {
  margin: 0;
}

.margin-left-none {
  margin-left: 0;
}

.margin-top-xs {
  margin-top: $xs;
}

.margin-top-sm {
  margin-top: $sm;
}

.margin-top-md {
  margin-top: $md;
}

.margin-top-lg {
  margin-top: $lg;
}

.margin-top-xl {
  margin-top: $xl;
}

.margin-right-xs {
  margin-right: $xs;
}

.margin-right-sm {
  margin-right: $sm;
}

.margin-right-md {
  margin-right: $md;
}

.margin-right-lg {
  margin-right: $lg;
}

.margin-right-xl {
  margin-right: $xl;
}


// padding
.padding-none {
  padding: 0;
}

.padding-xs {
  padding: $xs;
}

.padding-sm {
  padding: $sm;
}

.padding-md {
  padding: $md;
}

.padding-lg {
  padding: $lg;
}

.padding-xl {
  padding: $xl;
}

.padding-top-xs {
  padding-top: $xs;
}

.padding-top-sm {
  padding-top: $sm;
}

.padding-top-md {
  padding-top: $md;
}

.padding-top-lg {
  padding-top: $lg;
}

.padding-top-xl {
  padding-top: $xl;
}

.padding-bottom-xs {
  padding-bottom: $xs;
}
.padding-bottom-sm {
  padding-bottom: $sm;
}
.padding-bottom-md {
  padding-bottom: $md;
}
.padding-bottom-lg {
  padding-bottom: $lg;
}
.padding-bottom-xl {
  padding-bottom: $xl;
}

.padding-left-xs {
  padding-left: $xs;
}

.padding-left-sm {
  padding-left: $sm;
}

.padding-left-md {
  padding-left: $md;
}

.padding-left-lg {
  padding-left: $lg;
}

.padding-left-xl {
  padding-left: $xl;
}

.padding-right-xs {
  padding-right: $xs;
}

.padding-right-sm {
  padding-right: $sm;
}

.padding-right-md {
  padding-right: $md;
}

.padding-right-lg {
  padding-right: $lg;
}

.padding-right-xl {
  padding-right: $xl;
}

/* misc */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.block {
  display: inline-block;
}

.center {
  text-align: center;
}

// navbar
.navbar {
  border-radius: 0;
}

// required ?
.navbar-brand {
  float: none;
}

.navbar-nav .nav-item {
  float: none;
}

.navbar-divider,
.navbar-nav .nav-item + .nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}

@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item + .nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
}

@media (max-width: 34em) {
  .spacer {
    display: none;
  }
}


// background
.bg {
  width: 100%;
  background: url('/images/bg-2-xl.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center; 
}

@media (max-width: $max-width-xs) {
  .bg {
    background-image: url('/images/bg-2-xs.jpg');
    min-height: $max-width-xs * 0.4;
  }
}

@media (min-width: $min-width-sm) and (max-width: $max-width-sm) {
  .bg {
    background-image: url('/images/bg-2-sm.jpg');
    min-height: $max-width-sm * 0.4;
  }
}

@media (min-width: $min-width-md) and (max-width: $max-width-md) {
  .bg {
    background-image: url('/images/bg-2-md.jpg');
    min-height: $max-width-md * 0.4;
  }
}
@media (min-width: $min-width-lg) and (max-width: $max-width-lg) {
  .bg {
    background-image: url('/images/bg-2-lg.jpg');
    min-height: $max-width-lg * 0.4;
  }
}
@media (min-width: $min-width-xl) {
  .bg {
    background-image: url('/images/bg-2-xl.jpg');
    min-height: $min-width-xl * 0.4;
  }
}

// h2 {
//   font-size: 1.2rem;
// }

.block {
  display: block;
}

.post {
  min-height: 200px;
}

.post-header {
  padding-left: 5px;
  padding-right: 5px;
}

article {
  background: #fff;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  //min-height: 400px;
}

#disqus_thread {
  padding-left: 5px;
  padding-right: 5px;
}

td.code {
  padding: 5px;
}
