---
layout: layouts/base.html
title: Coder's Coffee House 
pagination:
  data: collections.tech
  reverse: true
  size: 5
  alias: posts 
---

<ul>
{%- for post in posts -%}
  <li>
    <h2>{{ post.data.title }}</h2>
    <h3>{{ post.data.date | toUTCString }}</h3>
    <p>
      <a href="{{ post.url }}">
        {{ post.templateContent | stripHtml }}
      </a>
    </p>

  </li>
{%- endfor -%}
</ul>

{% if pagination.href.next %}
<a href="{{pagination.href.next}}">Older Posts</a>
{% endif %}
{% if pagination.href.previous %}
<a href="{{pagination.href.previous}}">Newer Posts</a>
{% endif %}
